[Unit]
Description=DismalOrinMonitoring
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/administrator/sfOrinMonitoring/dismalOrinGather.py
WorkingDirectory=/home/administrator/sfOrinMonitoring
User=root
Group=root
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/administrator/sfOrinMonitoring/output.log
StandardError=append:/home/administrator/sfOrinMonitoring/error.log

[Install]
WantedBy=multi-user.target
